d		<br>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="card" style="border: #1a1a1a">
						<div class="card-body" style="background-color: #1a1a1a">
							<div class="card-title info text-center">Informacje</div>
								<div class="row">
										<div class="col-lg-4 col-md-12 text-center">
											<span class="info"><i class="far fa-map"></i></span>
											<span class="info">Gdzie jesteśmy</span>
											<div id="map" style="width: 100%; height: 200px"></div>
											
										</div>
										<div class="col-lg-4 col-md-12 text-center">
											<span class="info"><i class="fas fa-info-circle"> </i></span>
											<span class="info">Płatność kartą kredytową</span>	
											<p class="neutral" id="cardInformation"></p>
										</div>
										<div class="col-lg-4 col-md-12 text-center">
												<span class="text-center info"><i class="fas fa-address-book"></i></span>
												<span class="text-center info">Kontakt</span>
												
												<p class="neutral" id="contact">
												</p>
												
												
										</div>

								</div>
								
								
							</div>
						</div>
							
					</div>
				</div>
				
			</div>
		</div>
		<br>
		<div class="container">
			<div class="row justify-content-center">
					<div class="col-lg-12 text-center">
							<img src="/logo.png" alt="" height="20">
							<span class="footer">Danmag <script>document.write(new Date().getFullYear())</script>  &#169; Wszelkie prawa zastrzeżone by: <a href="https://mkdportfolio.herokuapp.com">MK</a>  </span>
							<br>
							<% if(return_route){ %>
								<a href="/login?return_route=<%= return_route %>" style="color: white;font-size: 13px; ">panel administracyjny</a>
							<% } else { %> 
								<a href="/login?return_route=<%= route %>" style="color: white;font-size: 13px; ">panel administracyjny</a>
							<% } %>
							<div id="lat" class="d-none"></div>
							<div id="lng" class="d-none"></div>
					</div>
			</div>
			<br>
		</div>

<script type="text/javascript" id="cookieinfo"
	src="//cookieinfoscript.com/js/cookieinfo.min.js" data-message="Nasza strona internetowa używa plików cookies (tzw. ciasteczka) w celach statystycznych, reklamowych oraz funkcjonalnych. Dzięki nim możemy indywidualnie dostosować stronę do twoich potrzeb. Każdy może zaakceptować pliki cookies albo ma możliwość wyłączenia ich w przeglądarce, dzięki czemu nie będą zbierane żadne informacje." data-bg="#1a1a1a" data-moreinfo="/privacy-policy" data-linkmsg="Polityka prywatności" data-fg="white" data-close-text="Rozumiem" data-text-align="left" data-font-size="11px">
</script>
<script>
	
	
	axios
		.get("/api/user")
		.then((response) => {
			
			cardInformation = document.getElementById("cardInformation")
			contact = document.getElementById("contact");
			aLinkMail = document.createElement("a");
			aLinkPhone = document.createElement("a");
			aLinkFacebook = document.createElement("a");
			span = document.createElement("span");
			contact.innerHTML = `${response.data.companyName} <br> ul. ${response.data.street}
													<br>
													${response.data.postCode} ${response.data.city}
													<br>
													<br>`
			aLinkPhone.setAttribute("href", `tel: ${response.data.phone}`);
			aLinkPhone.innerHTML = "<i class='fas fa-phone-square-alt fa-lg'></i>";
			aLinkPhone.style.color = "white";
			aLinkPhone.style.margin = "5px";
			aLinkMail.setAttribute("href", `mailto: ${response.data.companyEmail}`);
			aLinkMail.innerHTML = "<i class='fas fa-envelope-square fa-lg'></i>";
			aLinkMail.style.color = "white";
			aLinkMail.style.margin = "5px";
			aLinkFacebook.setAttribute("href", `${response.data.facebookLink}`);
			aLinkFacebook.setAttribute("target", "_blank")
			aLinkFacebook.innerHTML = "<i class='fab fa-facebook-square fa-lg'></i>";
			aLinkFacebook.style.color = "white";
			aLinkFacebook.style.margin = "5px";
			span.appendChild(aLinkPhone);
			span.appendChild(aLinkMail);
			span.appendChild(aLinkFacebook);
			contact.appendChild(span);
			cardInformation.innerText = response.data.cardInformation;
			
			
									
		})
		.catch((err) => {

		})
		console.log(latitude.innerText)
		function initMap() {
			axios
				.get("/api/user")
				.then((response) => {
					var lat = parseFloat(response.data.lat);
					var lng = parseFloat(response.data.lng);
					console.log(lat)
					console.log(lng)
					var center = { lat: lat, lng: lng };
					var map = new google.maps.Map(document.getElementById('map'), {
						zoom: 15,
						center: center,
						scrollwheel: false
					});
					var contentString = `
						<strong>${response.data.companyName}<br />
							${response.data.street} ${response.data.postCode} ${response.data.city}</strong>
					`
					var infowindow = new google.maps.InfoWindow({
						content: contentString
					});
					var marker = new google.maps.Marker({
						position: center,
						map: map
					});
					marker.addListener('click', function () {
						infowindow.open(map, marker);
					});
				})
				.catch((err) => {

				})
				
			}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKvmIASZjDfZNXZZn2fa4pGvR6T3cQTcA&callback=initMap"></script>
<script>
	$('.carousel').carousel({
		interval: 7000
	})
	$(".form-control").on('click', function(){
                $(".form-control").css({
                    "background": "none",
					"color": "#FBFA04",
					"box-shadow": "none"
                });
            });
</script>
	</body>
</html>
