<!DOCTYPE html>
<html>
	

<head>
	<title> <%= header %> </title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-62322111-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-62322111-1');
</script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="sklep motoryzacyjny głogów, części samochodowe głogów, auto części głogów, 
		naprawa przewodów hydraulicznych, regeneracja przewodów hamulcowych, zakuwanie przewodów samochodowych, 
		danmag, danmag głogów, sklep motoryzacyjny, auto części, valvoline, oleje, wycieraczki, wurth, pióra, 
		przewody cadillac, akumulatory, akumulatory głogów, oleje silnikowe głogów, 
		oleje silnikowe, przewody hamulcowe, przewody hamulcowe głogów">	
	<meta name="description" content="PPHU „Danmag” Auto Części. ul.Mickiewicza 53b 67-200 Głogów. tel 76 8333595 tel/fax 76 8356252. e-mail: danmag@danmag.pl.">
	<meta charset="utf-8">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b2ec1cb26d.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style.css">
  
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>
	
	
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-gray">
	<div class="container">
		 <a class="navbar-brand" href="/"><img src="/logo.png" id="nav"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border:none">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center">
        <% if(typeof main !== 'undefined'){ %>
			<li class="nav-item">
        		<a class="nav-link" href="/" style="color:#FBFA04"><i class="fas fa-home"></i> Home</a>
      		</li>
		<% } else { %>
			<li class="nav-item">
        		<a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
      		</li>
		<% } %>
		<% if(typeof about !== 'undefined'){ %>
			<li class="nav-item">
				<div class="dropdown">
					<a class="nav-link dropdown-toggle justify-content-center" style="color:#FBFA04" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-address-card"></i> O nas
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: #eeeeee">
					  

						<% if(typeof contact !== 'undefined'){ %>
							<a class="dropdown-item" href="/about">Informacje</a>
							<a class="dropdown-item active" href="/about/contact">Kontakt</a>
						<% } else { %>
							<a class="dropdown-item active" href="/about">Informacje</a>
							<a class="dropdown-item" href="/about/contact">Kontakt</a>
						<% } %>
						
						
						
					</div>
				</div>
			</li>
			
		<% } else { %>
			<li class="nav-item">
				<div class="dropdown">
					<a class="nav-link dropdown-toggle justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-address-card"></i> O nas
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: #eeeeee">
					  

						<% if(typeof contact !== 'undefined'){ %>
							<a class="dropdown-item" href="/about">Informacje</a>
							<a class="dropdown-item active" href="/about/contact">Kontakt</a>
						<% } else { %>
							<a class="dropdown-item active" href="/about">Informacje</a>
							<a class="dropdown-item" href="/about/contact">Kontakt</a>
						<% } %>
						
						
						
					</div>
				</div>
			</li>
		<% } %>
      
		
      
		<% if(typeof zakuwanie !== 'undefined'){ %>
			 <li class="nav-item">
        		<a class="nav-link" href="/zakuwanie" style="color:#FBFA04"><i class="fas fa-tools"></i> Zakuwanie przewodów</a>
        
      		</li>
		<% } else { %>
			 <li class="nav-item">
        		<a class="nav-link" href="/zakuwanie"><i class="fas fa-tools"></i> Zakuwanie przewodów</a>
        
     		 </li>
		<% } %>
     
		
      <% if(typeof newse !== 'undefined'){ %>
			<li class="nav-item">
        		<a class="nav-link" href="/news" style="color:#FBFA04"><i class="fas fa-newspaper"></i> Aktualności</a>
      		</li>
		<% } else { %>
			<li class="nav-item">
        		<a class="nav-link" href="/news"><i class="fas fa-newspaper"></i> Aktualności</a>
      		</li>
		<% } %>
		<% if(typeof offer !== 'undefined'){ %>
			<li class="nav-item">
        		<a class="nav-link" href="/offer/applications/new" style="color:#FBFA04"><i class="far fa-question-circle"></i> Zapytaj o ofertę</a>
      		</li>
		<% } else { %>
			<li class="nav-item">
				<a class="nav-link" href="/offer/applications/new"><i class="far fa-question-circle"></i> Zapytaj o ofertę</a>
			</li>
		<% } %>
		<% if(typeof currentUser !== 'undefined'){ %>
			<li class="nav-item">
				<div class="dropdown">
					<a class="nav-link dropdown-toggle justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					   Administracja
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: #eeeeee">
					  

						<a class="dropdown-item" href="/news/new">Dodaj aktualność</a>
						<a class="dropdown-item" href="/offer/applications">Zapytania o oferty</a>
						<a class="dropdown-item" href="/logout">Wyloguj</a>
						
						
					</div>
				</div>
			</li>
		<% } %>
    </ul>
   
  </div>		
	</div>	
 
	
	
</nav>
	<br>
	<br>
	