<% include ./partials/headero %>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="border: #1a1a1a">
                <div class="card-body"  style="background-color: #1a1a1a">
                    <div class="card-title text-center info">O firmie</div>
                    <p class="neutral">
                            Witamy na stronie firmy Danmag,
                            <br>
                            <br>
                            Jesteśmy rodzinną firmą działającą w branży motoryzacyjnej, która na rynku głogowskim obecna jest od 1991 roku.
                            Początki istnienia to części do Żuka, Nysy, Tarpana itp.
                            <br>
                            <br>
                            W miarę upływu czasu wiele się zmieniało w tej branży. Dziś w dalszym ciągu oferujemy filtry, oleje, części i akcesoria do samochodów.
                            Naszym priorytetem jest to, by klient był zadowolony nie tylko z ceny ale i z jakości. Dlatego polecamy produkty renomowanych producentów
                            takich jak: Castrol, Motul, Liqui Moly, Filtron, Continental, SKF itp.
                            <br>
                            <br>
                            Od wielu lat zajmujemy się również układami hamulcowymi. W ofercie mamy tarcze, klocki i szczęki takich producentów jak: Textar, TRW, Girling, Bosch.
                            Poza tym jesteśmy partnerem amerykańskiej firmy Brake Quip specjalizującej się w przewodach hamulcowych.
                            <br>
                            <br>
                            Zapraszamy do współpracy. 

                           
                    </p>
                    <a href="/privacy-policy" class="info2">Polityka prywatności</a>
                </div>
            </div>
        </div>
    </div>
</div>



<% include ./partials/footer %>