<% include ./partials/headero %>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="border: #1a1a1a">
                <div class="card-body text-center" style="background-color: #1a1a1a">
                    <div class="card-title info text-center">Kontakt</div>
                    <p class="info2" style="font-size: 15px">Jeżeli chcesz zamówić części lub masz problem z obsługą zamówień,
                        <br>
                            doborem części lub czymś innym - skontaktuj się z nami. </p>
                    <p class="neutral">Godziny otwarcia
                            <br>
                            poniedziałek - piątek: 9-17
                            <br>
                          	sobota: 9-13</p>
                    <p class="info2" style="font-size: 15px">PPHU Danmag Auto Części
                        <br>
                            ul.Mickiewicza 53b, 67-200 Głogów
                            <br>
                             tel <a href="tel:+48768333595" style="color: #FBfa04;">768333595</a>; 
														
							tel <a href="tel:+48768356252" style="color: #FBfa04;"> 76 8356252</a>
							<br>
							e-mail: <a href="mailto: danmag@danmag.pl" style="color: #FBfa04;">danmag@danmag.pl</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer %>