<% include ./partials/header %>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background-color: #1a1a1a">
                <div class="card-title info text-center">
                    <br>
                    Podana strona nie istnieje
                </div>
                <div class="card-body">
                    <p class="neutral text-center">Jeśli natrafiłeś na tą stronę to znaczy, że źle wpisałeś adres albo wszedłeś na stronę poprzez wyszukiwarkę. 
                        Wybierz z panelu nawigacyjnego gdzie chcesz się udać</p>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>