<% include ./partials/headero %>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="border: #1a1a1a">
                <div class="card-body" style="background-color: #1a1a1a">
                    <div class="card-title info text-center">Oferta</div>
                    <p class="info2 text-center">W naszej firmie rekomendujemy wyłącznie części o sprawdzonej jakości</p>
                    <p class="neutral text-center">Stale rozwijamy nasza ofertę współpracując z szeroką siecią dystrybucji. 
                            Zapraszamy do śledzenia najnowszych informacji na naszym profilu Facebook.</p>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="row justify-content-center">
                                <div class="col-lg-4 col-md-12">
                                        <p class="info2" style="margin-left:10px">Akumulatory:</p>
                                        <ul class="neutral">
                                            <li>Centra</li>
                                            <li>Exide</li>
                                            <li>Sznajder</li>
                                        </ul> 
                                       
                                        
                                        <p class="info2" style="margin-left:10px">Filtry:</p> 
                                        <ul class="neutral">
                                            <li>Filtron</li>
                                            <li>Mann Filter</li>
                                            <li>Baldwin</li>
                                        </ul> 
                                       
                                        
                                        <p class="info2" style="margin-left:10px">Oleje i płyny:</p>
                                        <ul class="neutral">
                                            <li>Castrol</li>
                                            <li>Motul</li>
                                            <li>Total</li>
                                            <li>Elf</li>
                                            <li>Mobil</li>
                                            <li>Orlen</li>
                                        </ul> 
                                       
                                        
                                        <p class="info2" style="margin-left:10px">Łożyska:</p> 
                                        <ul class="neutral">
                                            <li>SKF</li>
                                            <li>FAG</li>
                                            <li>NSK Poland</li>
                                        </ul> 
                                       
                                        
                                        <p class="info2" style="margin-left:10px">Paski i zestawy rozrządu:</p> 
                                        <ul class="neutral">
                                            <li>Continental</li>
                                            <li>SKF</li>
                                            <li>Gates</li>
                                        </ul> 
                                        
                                        
                                        <p class="info2" style="margin-left:10px">Części zapłonu:</p> 
                                        <ul class="neutral">
                                            <li>NGK</li>
                                            <li>Beru</li>
                                            
                                        </ul> 
                                        
                                        
                                        <p class="info2" style="margin-left:10px">Części hamulcowe:</p> 
                                         <ul class="neutral">
                                            <li>TRW</li>
                                            <li>Textar</li>
                                            <li>Girling</li>
                                        </ul> 
                                        
                                </div>
                            </div>
                                
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="row justify-content-center">
                                <div class="col-lg-4 col-md-12">
                                        <p class="info2" style="margin-left:10px">Przeguby i  półosie:</p> 
                                        <ul class="neutral">
                                                <li>SKF</li>
                                                <li>Metelli</li>
                                                
                                            </ul> 
                                      
                                        
                                        <p class="info2" style="margin-left:10px">Części zawieszenia:</p>
                                        <ul class="neutral">
                                                <li>Lemforder</li>
                                                <li>TRW</li>
                                                <li>Delphi</li>
                                            </ul> 
                                        
                                        <p class="info2" style="margin-left:10px">Zarówki, żarniki i Ledy:</p>
                                        <ul class="neutral">
                                                <li>Philips</li>
                                                <li>Narva</li>
                                                <li>Osram</li>
                                            </ul> 
                                        
                                        
                                        <p class="info2" style="margin-left:10px">Wycieraczki:</p>
                                        <ul class="neutral">
                                                <li>Valeo</li>
                                                <li>Bosch</li>
                                                
                                            </ul> 
                                       
                                        
                                        <p class="info2" style="margin-left:10px">Dywaniki Samochodowe:</p>
                                        <ul class="neutral">
                                                <li>Petex</li>
                                                <li>Schonek</li>
                                               
                                            </ul> 
                                       
                                        
                                        <p class="info2" style="margin-left:10px">Spinki i kołki samochodowe:</p>
                                        <ul class="neutral">
                                                <li>Romix</li>
                                                
                                            </ul> 
                                        
                                        
                                        <p class="info2" style="margin-left:10px">Chemia:</p>
                                        <ul class="neutral">
                                            <li>Liqui Moly</li>
                                            <li>Atas</li>
                                            <li>K2</li>
                                        </ul> 
                                </div>
                            </div>
                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer %>