<% include ./partials/headero %>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="border: #1a1a1a">
                <div class="card-body" style="background-color: #1a1a1a">
                    <div class="card-title info text-center">Zakuwanie przewodów</div>
                    <img src="/przewody.png" class="card-img-top">
                    <br>
                    <br>
                    <p class="info">Oferujemy zakuwanie rurek i przewodów hamulcowych występujących w samochodach osobowych, motocyklach i wózkach widłowych.</p>
                    <p class="info2">Dlaczego serwis przewodów hamulcowych jest tak ważny?</p>
                    <p class="neutral">Upływ czasu i warunki atmosferyczne mają duży wpływ na trwałość przewodów hamulcowych. 
                        Przewody sztywne niszczy korozja, a węże gumowe z czasem tracą swoje właściwości i pękają. 
                        Po dłuższym czasie guma wewnątrz przewodów zaczyna pęcznieć, dławiąc przepływ.
                            <br>
                            <br>
                            Czas dopuszczalnej żywotności typowego przewodu hamulcowego gumowego to 6 lat, po tym okresie węże zaczynają stanowić zagrożenie dla bezpieczeństwa.
                            <br>
                            <br>
                            Podnosząc bezpieczeństwo proponujemy rurkę stalową zamienić na rurkę miedzianą lub miedziano-niklową.
                            
                             </p>
                    <p class="info2">Dlaczego warto wykonać przewody hamulcowe w naszej firmie?</p>
                    <ol>
                        <li class="info2">
                            Zgodność z normami.
                            <p class="neutral">Każdy wykonany przez naszą firmę przewód spełnia wszystkie wymogi norm bezpieczeństwa DOT, FMVSS106, oraz SAE J1401</p>
                        </li>
                        <li class="info2">
                            Szybkość wykonania przewodu i niski koszt.
                            <p class="neutral">Zazwyczaj każdy przewód można wykonać w kilka minut.</p>
                        </li>
                        <li class="info2">
                            Wykonanie przewodu w/g dowolnego projektu i potrzeby.
                            <p class="neutral">Wykonujemy także przewody nietypowe lub według dowolnego projektu. Przewody możemy wysłać firmą kurierską.</p>
                        </li>
                    </ol>
                    <div class="row">
                        <div class="col-lg-4 col-md-12" style="margin-top:5px">
                            <img class="img-thumbnail" src="/rurka.png" style="border:none">
                        </div>
                        <div class="col-lg-4 col-md-12" style="margin-top:5px">
                            <img class="img-thumbnail" src="/przewody.png">
                        </div>
                        <div class="col-lg-4 col-md-12" style="margin-top:5px">
                            <img class="img-thumbnail" src="/stary_nowy.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<% include ./partials/footer %>