<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 6%">
            <div id="form1">
                <a href="/login">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony logowania
                </a>
                <h1 class="login">Rejestracja na stronie Danmag</h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <form action="/register" method="post">
                    <p class="username">Podaj nazwę użytkownika</p>
                    <input type="text" name="username" class="form-control" placeholder="Nazwa użytkownika">
                    <br>
                    <p class="username">Podaj email</p>
                    <input type="email" name="email" class="form-control" placeholder="Email">
                    <br>
                    <p class="username">Podaj hasło</p>
                    <input type="password" name="password" class="form-control" placeholder="Hasło">
                    <br>
                    <input type="submit" value="Zarejestruj się" class="btn btn-warning">
                </form>
            </div>
        </div>
    </div>
</div>

    </body>

    </html>