body:before {
	content: '';
    background-size: cover;
    background-position: center; 

	background: url(volks.jpg) no-repeat;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	position: fixed;
	
}

body,
html {
    margin:0;
	padding:0;
   
 
}
.container {
    filter: none;
}

.card {
    margin-top: 50%;
}
.info {
	font-family: 'Nunito', sans-serif;
	color: #FBFA04;
	font-size: 25px;
	font-weight: 700;
}

input[type=text],
input[type=password],
input[type=email] {
    background: none;
    border: 1px solid #FBFA04;
   
    color: #FBFA04;
}

input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder{
    
    color: #FBFA04;
}

.card {
    opacity: 0.9;
}

@media (max-width: 992px) {
	.card {
        margin-top: 5%;
    }
	
}