<% include ../partials/header %>
<br>
    <div class="container">
        <div class="row">
            
		
			
		</div>
            
               
                           
								<div class="row">
									
										<div class="col-lg-12" style="margin-top: 8px">
											<div class="card" style="border: #1a1a1a;background-color: #1a1a1a">
												
												
													<div class="card-title info text-center">
                                                        <br>
														Zapytaj o ofertę - formularz
													</div>
												<div class="card-body" style="background-color: #1a1a1a">
													<div class="row justify-content-center">
                                                        <div class="col-lg-6 col-md-12">
                                                            <form action="/offer/applications" method="post">
                                                                <p class="info2">Wpisz markę samochodu</p>
                                                                <input type="text" name="brand" placeholder="Marka samochodu" class="form-control">
                                                                <br>
                                                                <p class="info2">Wpisz model samochodu</p>
                                                                <input type="text" name="model" placeholder="Model samochodu" class="form-control">
                                                                <br>
                                                                <p class="info2">Wpisz pojemność silnika</p>
                                                                <input type="text" name="engine" placeholder="Pojemność silnika" id="" class="form-control">
                                                                <br>
                                                                <p class="info2">Wpisz rok produkcji</p>
                                                                <input type="number" name="year" placeholder="Rok produkcji" class="form-control">
                                                                <br>
                                                                <p class="info2">Wpisz rodzaj części</p>
                                                                <input type="text" name="part" placeholder="Rodzaj części" class="form-control">
                                                                <br>
                                                                <p class="info2">Podaj adres email na który chcesz otrzymać ofertę</p>
                                                                <input type="email" name="email" placeholder="Adres email" class="form-control">
                                                                <br>
                                                                <input type="submit" value="Zapytaj o ofertę" class="form">
                                                            </form>
                                                        </div>
                                                    </div>
												</div>
											</div>
										</div>
									
								</div>
                            
               
                   
            </div>
           
            
        	<script>
					    $(".form-control").on('click', function(){
                            $(".form-control").css({
                                "background": "none",
                                "color": "#FBFA04"
                                
                            });
                        });
				</script>

<% include ../partials/footer %>