<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form" style="height: 100%;">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 6%">
            <div id="form1">
                <a href="/">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony głównej
                </a>
                <h1 class="login">Podaj dokładne dane samochodu w poniższym formularzu</h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <form action="/offer/applications" method="post">
                    <p class="username"> Marka samochodu</p>
					
					<input type="text" name="brand" placeholder="np. Volkswagen" class="form-control" required>
					
					
					<br>
					<p class="username">Model samochodu</p>
					<input type="text" name="model" placeholder="np. Golf 3" class="form-control" required>
					<br>
					<p class="username">Pojemność silnika</p>
					<input type="text" name="engine" placeholder="np. 2.2 TDI" id="" class="form-control" required>
					<br>
					<p class="username">Rodzaj silnika</p>
					<select name="category" id="select" class="form-control" required>
						<option style="color:black">Benzyna</option>
						<option style="color:black">Diesel</option>
					</select>
					<br>
					<p class="username">Rok produkcji</p>
					<input type="number" name="year" placeholder="np. 2010" class="form-control" required>
					<br>
					<p class="username">Numer VIN</p>
					<input type="text" name="vin" placeholder="np. LA2YZ23J9P4800003" maxlength="17" class="form-control" required>
					<br>
					<p class="username">Rodzaj części</p>
					<input type="text" name="part" placeholder="np. Płyn hamulcowy" class="form-control" required>
					<br>
					<p class="username">Adres email na który chcesz otrzymać ofertę</p>
					<input type="email" name="email" placeholder="np. jankowalski@gmail.com" class="form-control" required>
					<br>
                    <input type="submit" value="Zapytaj o ofertę" class="btn btn-warning button btn-gradient">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>