<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 10%">
            <div id="form1">
                <a href="/offer/applications">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do wszystkich ofert
                </a>
                <h1 class="login">Wyślij ofertę na email <%= offer.email %></h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>


                <form action="/offer/applications/<%= offer._id %>/send" method="post">

                    <p class="username">Wpisz tytuł emaila</p>
                    <input type="text" name="topic" placeholder="Tytuł emaila" class="form-control">
                    <br>
                    <p class="username">Wpisz treść emaila</p>
                    <textarea class="form-control" name="text" id="description" placeholder="Treść emaila"></textarea>
                    <br>


                    <input type="submit" value="Wyślij ofertę" class="btn btn-warning button btn-gradient">
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>