<% include ../partials/headero %>
<br>
<div class="container" id="addUnderpost">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="border: #1a1a1a">
                <div class="card-body" style="background-color: #1a1a1a">
                    <div class="card-title info text-center">Wyślij ofertę na email <%= offer.email %></div>
                   
                    <form action="/offer/<%= offer._id %>/send" method="post">
                       
                        <p class="info2">Wpisz tytuł emaila</p>
                        <input type="text" name="topic" placeholder="Tytuł emaila" class="form-control">
                        <br>
                        <p class="info2">Wpisz treść emaila</p>
                        <textarea class="form-control" name="text" id="description" placeholder="Treść emaila"></textarea>
                        <br>
                        
                        
                        <input type="submit" value="Wyślij ofertę" class="form">
                    </form>
                  
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>