<% include ../partials/headero %>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-12 text-center">
            <p class="info">Czy chcesz dodać kolejny powód dlaczego wykonać serwis w Danmag?</p>
            <a href="/zakuwanie/<%= zakuwanie._id %>/whyHere/add" class="form-full" style="margin-right: 8px;">
                Tak
            </a>
            <a href="/zakuwanie" class="form">Nie</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>