<%- include("../partials/headera") %>
<div class="col-lg-6 col-md-12" id="form" style="height: 100%;">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12" style="margin-top: 6%">
            <div id="form1">
                <a href="/">
                    <i class="fas fa-arrow-left"></i>
                    Wróć do strony głównej
                </a>
                <h1 class="login">Dodaj aktualność </h1>
                <% if(error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                
                <form action="/news" method="post" enctype="multipart/form-data">
                    <p class="username">Wpisz tytuł aktualości</p>
                    <input type="text" name="title" placeholder="Tytuł aktualności" class="form-control">
                    <br>
                    <p class="username">Wpisz opis aktualności</p>
                    <textarea class="form-control" name="description" id="description"
                        placeholder="Opis aktualności"></textarea>
                    <br>
                    <p class="username">Zdjęcie główne</p>
                    <input type="file" name="profile" style="color: white">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-warning button btn-gradient" value="Dodaj aktualność">
                </form>
                <br>
                <ul class="info">
                    Poradnik formatowania tekstu:
                    <li>pogrubienie -
                        <pre
                            style="color:white"> <code> <span> &lt;strong&gt; wyraz lub wyrażenie &lt;/strong&gt; </span> </code>  </pre>
                    </li>
                    <li>pochylenie -
                        <pre
                            style="color:white"> <code> <span> &lt;em&gt; wyraz lub wyrażenie &lt;/em&gt; </span> </code>  </pre>
                    </li>
                    <li>podkreślenie -
                        <pre
                            style="color:white"> <code> <span> &lt;ins&gt; wyraz lub wyrażenie &lt;/ins&gt; </span> </code>  </pre>
                    </li>
                    <li>przekreślenie -
                        <pre
                            style="color:white"> <code> <span> &lt;del&gt; wyraz lub wyrażenie &lt;/del&gt; </span> </code>  </pre>
                    </li>
                    <li>akapity -
                        <pre style="color:white"> <code> <span> &lt;br&gt; </span> </code>  </pre>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>