<% include ../partials/headero %>
    <br>
    <br>
    <br>
		<div class="container" id="addNews">
			<div class="row">
				<div class="col-lg-12">
					<div class="card" style="border: #1a1a1a">
						<div class="card-body" style="background-color: #1a1a1a">
                            <div class="card-title info text-center">Dodaj aktualność</div>
                            <form action="/news" method="post" enctype="multipart/form-data">
                                <p class="info2">Wpisz tytuł aktualości</p>
                                <input type="text" name="title" placeholder="Tytuł aktualności" class="form-control">
                                <br>
                                <p class="info2">Wpisz opis aktualności</p>
                                <textarea class="form-control" name="description" id="description" placeholder="Opis aktualności"></textarea>
                                <br>
                                <p class="info2">Zdjęcie główne</p>
                                <input type="file" name="profile" style="color: #FBFA04">
                                <br>
                                <br>
                                <input type="submit" class="form" value="Dodaj aktualność">
                            </form>
							<br>
							<ul class="info2">
								Poradnik formatowania tekstu:
								<li>pogrubienie -  <pre style="color:#FBFA04"> <code> <span> &lt;strong&gt; wyraz lub wyrażenie &lt;/strong&gt; </span> </code>  </pre></li>
								<li>pochylenie -  <pre style="color:#FBFA04"> <code> <span> &lt;em&gt; wyraz lub wyrażenie &lt;/em&gt; </span> </code>  </pre></li>
								<li>podkreślenie -  <pre style="color:#FBFA04"> <code> <span> &lt;ins&gt; wyraz lub wyrażenie &lt;/ins&gt; </span> </code>  </pre></li>
								<li>przekreślenie -  <pre style="color:#FBFA04"> <code> <span> &lt;del&gt; wyraz lub wyrażenie &lt;/del&gt; </span> </code>  </pre></li>
								<li>akapity -  <pre style="color:#FBFA04"> <code> <span> &lt;br&gt; </span> </code>  </pre></li>
							</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            
                
<% include ../partials/footer %>